# b/170189576
dontaudit hal_camera_default device_config_boot_count_prop:file map ;
dontaudit hal_camera_default sysfs_msm_subsys:file getattr ;
dontaudit hal_camera_default sysfs_msm_subsys:file open ;
dontaudit hal_camera_default sysfs_msm_subsys:file read ;
dontaudit hal_camera_default vendor_ramdump_prop:file getattr ;
dontaudit hal_camera_default vendor_ramdump_prop:file open ;
dontaudit hal_camera_default incremental_prop:file map ;
dontaudit hal_camera_default incremental_prop:file getattr ;
dontaudit hal_camera_default incremental_prop:file open ;
dontaudit hal_camera_default heapprofd_enabled_prop:file map ;
dontaudit hal_camera_default heapprofd_enabled_prop:file getattr ;
dontaudit hal_camera_default heapprofd_enabled_prop:file open ;
dontaudit hal_camera_default gsid_prop:file map ;
dontaudit hal_camera_default gsid_prop:file getattr ;
dontaudit hal_camera_default gsid_prop:file open ;
dontaudit hal_camera_default graphics_config_prop:file map ;
dontaudit hal_camera_default graphics_config_prop:file getattr ;
dontaudit hal_camera_default graphics_config_prop:file open ;
dontaudit hal_camera_default firstboot_prop:file map ;
dontaudit hal_camera_default firstboot_prop:file getattr ;
dontaudit hal_camera_default adbd_prop:file open ;
dontaudit hal_camera_default adbd_prop:file getattr ;
dontaudit hal_camera_default adbd_prop:file map ;
dontaudit hal_camera_default apexd_prop:file open ;
dontaudit hal_camera_default apexd_prop:file getattr ;
dontaudit hal_camera_default apexd_prop:file map ;
dontaudit hal_camera_default apk_verity_prop:file open ;
dontaudit hal_camera_default apk_verity_prop:file getattr ;
dontaudit hal_camera_default apk_verity_prop:file map ;
dontaudit hal_camera_default audio_prop:file open ;
dontaudit hal_camera_default audio_prop:file getattr ;
dontaudit hal_camera_default audio_prop:file map ;
dontaudit hal_camera_default bluetooth_a2dp_offload_prop:file open ;
dontaudit hal_camera_default bluetooth_a2dp_offload_prop:file getattr ;
dontaudit hal_camera_default bluetooth_a2dp_offload_prop:file map ;
dontaudit hal_camera_default bluetooth_audio_hal_prop:file open ;
dontaudit hal_camera_default bluetooth_audio_hal_prop:file getattr ;
dontaudit hal_camera_default bluetooth_audio_hal_prop:file map ;
dontaudit hal_camera_default bluetooth_prop:file open ;
dontaudit hal_camera_default bluetooth_prop:file getattr ;
dontaudit hal_camera_default bluetooth_prop:file map ;
dontaudit hal_camera_default bootloader_boot_reason_prop:file open ;
dontaudit hal_camera_default bootloader_boot_reason_prop:file getattr ;
dontaudit hal_camera_default bootloader_boot_reason_prop:file map ;
dontaudit hal_camera_default boottime_prop:file open ;
dontaudit hal_camera_default boottime_prop:file getattr ;
dontaudit hal_camera_default boottime_prop:file map ;
dontaudit hal_camera_default boottime_public_prop:file open ;
dontaudit hal_camera_default boottime_public_prop:file getattr ;
dontaudit hal_camera_default boottime_public_prop:file map ;
dontaudit hal_camera_default bpf_progs_loaded_prop:file open ;
dontaudit hal_camera_default bpf_progs_loaded_prop:file getattr ;
dontaudit hal_camera_default bpf_progs_loaded_prop:file map ;
dontaudit hal_camera_default charger_prop:file open ;
dontaudit hal_camera_default charger_prop:file getattr ;
dontaudit hal_camera_default charger_prop:file map ;
dontaudit hal_camera_default cold_boot_done_prop:file open ;
dontaudit hal_camera_default cold_boot_done_prop:file getattr ;
dontaudit hal_camera_default cold_boot_done_prop:file map ;
dontaudit hal_camera_default config_prop:file open ;
dontaudit hal_camera_default config_prop:file getattr ;
dontaudit hal_camera_default config_prop:file map ;
dontaudit hal_camera_default cppreopt_prop:file open ;
dontaudit hal_camera_default cppreopt_prop:file getattr ;
dontaudit hal_camera_default cppreopt_prop:file map ;
dontaudit hal_camera_default cpu_variant_prop:file open ;
dontaudit hal_camera_default cpu_variant_prop:file getattr ;
dontaudit hal_camera_default cpu_variant_prop:file map ;
dontaudit hal_camera_default ctl_adbd_prop:file open ;
dontaudit hal_camera_default ctl_adbd_prop:file getattr ;
dontaudit hal_camera_default ctl_adbd_prop:file map ;
dontaudit hal_camera_default ctl_apexd_prop:file open ;
dontaudit hal_camera_default ctl_apexd_prop:file getattr ;
dontaudit hal_camera_default ctl_apexd_prop:file map ;
dontaudit hal_camera_default ctl_bootanim_prop:file open ;
dontaudit hal_camera_default ctl_bootanim_prop:file getattr ;
dontaudit hal_camera_default ctl_bootanim_prop:file map ;
dontaudit hal_camera_default ctl_bugreport_prop:file open ;
dontaudit hal_camera_default ctl_bugreport_prop:file getattr ;
dontaudit hal_camera_default ctl_bugreport_prop:file map ;
dontaudit hal_camera_default ctl_console_prop:file open ;
dontaudit hal_camera_default ctl_console_prop:file getattr ;
dontaudit hal_camera_default ctl_console_prop:file map ;
dontaudit hal_camera_default ctl_default_prop:file open ;
dontaudit hal_camera_default ctl_default_prop:file getattr ;
dontaudit hal_camera_default ctl_default_prop:file map ;
dontaudit hal_camera_default ctl_dumpstate_prop:file open ;
dontaudit hal_camera_default ctl_dumpstate_prop:file getattr ;
dontaudit hal_camera_default ctl_dumpstate_prop:file map ;
dontaudit hal_camera_default ctl_fuse_prop:file open ;
dontaudit hal_camera_default ctl_fuse_prop:file getattr ;
dontaudit hal_camera_default ctl_fuse_prop:file map ;
dontaudit hal_camera_default ctl_gsid_prop:file open ;
dontaudit hal_camera_default ctl_gsid_prop:file getattr ;
dontaudit hal_camera_default ctl_gsid_prop:file map ;
dontaudit hal_camera_default ctl_interface_restart_prop:file open ;
dontaudit hal_camera_default ctl_interface_restart_prop:file getattr ;
dontaudit hal_camera_default ctl_interface_restart_prop:file map ;
dontaudit hal_camera_default ctl_interface_start_prop:file open ;
dontaudit hal_camera_default ctl_interface_start_prop:file getattr ;
dontaudit hal_camera_default ctl_interface_start_prop:file map ;
dontaudit hal_camera_default ctl_interface_stop_prop:file open ;
dontaudit hal_camera_default ctl_interface_stop_prop:file getattr ;
dontaudit hal_camera_default ctl_interface_stop_prop:file map ;
dontaudit hal_camera_default ctl_mdnsd_prop:file open ;
dontaudit hal_camera_default ctl_mdnsd_prop:file getattr ;
dontaudit hal_camera_default ctl_mdnsd_prop:file map ;
dontaudit hal_camera_default ctl_restart_prop:file open ;
dontaudit hal_camera_default ctl_restart_prop:file getattr ;
dontaudit hal_camera_default ctl_restart_prop:file map ;
dontaudit hal_camera_default ctl_rildaemon_prop:file open ;
dontaudit hal_camera_default ctl_rildaemon_prop:file getattr ;
dontaudit hal_camera_default ctl_rildaemon_prop:file map ;
dontaudit hal_camera_default ctl_sigstop_prop:file open ;
dontaudit hal_camera_default ctl_sigstop_prop:file getattr ;
dontaudit hal_camera_default ctl_sigstop_prop:file map ;
dontaudit hal_camera_default ctl_start_prop:file open ;
dontaudit hal_camera_default ctl_start_prop:file getattr ;
dontaudit hal_camera_default ctl_start_prop:file map ;
dontaudit hal_camera_default ctl_stop_prop:file open ;
dontaudit hal_camera_default ctl_stop_prop:file getattr ;
dontaudit hal_camera_default ctl_stop_prop:file map ;
dontaudit hal_camera_default dalvik_prop:file open ;
dontaudit hal_camera_default dalvik_prop:file getattr ;
dontaudit hal_camera_default dalvik_prop:file map ;
dontaudit hal_camera_default debuggerd_prop:file open ;
dontaudit hal_camera_default debuggerd_prop:file getattr ;
dontaudit hal_camera_default debuggerd_prop:file map ;
dontaudit hal_camera_default default_prop:file open ;
dontaudit hal_camera_default default_prop:file getattr ;
dontaudit hal_camera_default fingerprint_prop:file open ;
dontaudit hal_camera_default device_config_activity_manager_native_boot_prop:file open ;
dontaudit hal_camera_default device_config_activity_manager_native_boot_prop:file getattr ;
dontaudit hal_camera_default device_config_activity_manager_native_boot_prop:file map ;
dontaudit hal_camera_default device_config_boot_count_prop:file open ;
dontaudit hal_camera_default device_config_boot_count_prop:file getattr ;
dontaudit hal_camera_default firstboot_prop:file open ;
dontaudit hal_camera_default device_config_configuration_prop:file open ;
dontaudit hal_camera_default device_config_configuration_prop:file getattr ;
dontaudit hal_camera_default device_config_configuration_prop:file map ;
dontaudit hal_camera_default device_config_input_native_boot_prop:file open ;
dontaudit hal_camera_default device_config_input_native_boot_prop:file getattr ;
dontaudit hal_camera_default device_config_input_native_boot_prop:file map ;
dontaudit hal_camera_default device_config_media_native_prop:file open ;
dontaudit hal_camera_default device_config_media_native_prop:file getattr ;
dontaudit hal_camera_default device_config_media_native_prop:file map ;
dontaudit hal_camera_default device_config_netd_native_prop:file open ;
dontaudit hal_camera_default device_config_netd_native_prop:file getattr ;
dontaudit hal_camera_default device_config_netd_native_prop:file map ;
dontaudit hal_camera_default device_config_reset_performed_prop:file open ;
dontaudit hal_camera_default device_config_reset_performed_prop:file getattr ;
dontaudit hal_camera_default device_config_reset_performed_prop:file map ;
dontaudit hal_camera_default device_config_runtime_native_boot_prop:file open ;
dontaudit hal_camera_default device_config_runtime_native_boot_prop:file getattr ;
dontaudit hal_camera_default device_config_runtime_native_boot_prop:file map ;
dontaudit hal_camera_default device_config_runtime_native_prop:file open ;
dontaudit hal_camera_default device_config_runtime_native_prop:file getattr ;
dontaudit hal_camera_default device_config_runtime_native_prop:file map ;
dontaudit hal_camera_default device_config_storage_native_boot_prop:file open ;
dontaudit hal_camera_default device_config_storage_native_boot_prop:file getattr ;
dontaudit hal_camera_default device_config_storage_native_boot_prop:file map ;
dontaudit hal_camera_default device_config_sys_traced_prop:file open ;
dontaudit hal_camera_default device_config_sys_traced_prop:file getattr ;
dontaudit hal_camera_default device_config_sys_traced_prop:file map ;
dontaudit hal_camera_default device_config_window_manager_native_boot_prop:file open ;
dontaudit hal_camera_default device_config_window_manager_native_boot_prop:file getattr ;
dontaudit hal_camera_default device_config_window_manager_native_boot_prop:file map ;
dontaudit hal_camera_default device_logging_prop:file open ;
dontaudit hal_camera_default device_logging_prop:file getattr ;
dontaudit hal_camera_default device_logging_prop:file map ;
dontaudit hal_camera_default dhcp_prop:file open ;
dontaudit hal_camera_default dhcp_prop:file getattr ;
dontaudit hal_camera_default dhcp_prop:file map ;
dontaudit hal_camera_default dumpstate_options_prop:file open ;
dontaudit hal_camera_default dumpstate_options_prop:file getattr ;
dontaudit hal_camera_default dumpstate_options_prop:file map ;
dontaudit hal_camera_default dumpstate_prop:file open ;
dontaudit hal_camera_default dumpstate_prop:file getattr ;
dontaudit hal_camera_default dumpstate_prop:file map ;
dontaudit hal_camera_default dynamic_system_prop:file open ;
dontaudit hal_camera_default dynamic_system_prop:file getattr ;
dontaudit hal_camera_default dynamic_system_prop:file map ;
dontaudit hal_camera_default exported2_config_prop:file open ;
dontaudit hal_camera_default exported2_config_prop:file getattr ;
dontaudit hal_camera_default exported2_config_prop:file map ;
dontaudit hal_camera_default exported2_radio_prop:file open ;
dontaudit hal_camera_default exported2_radio_prop:file getattr ;
dontaudit hal_camera_default exported2_radio_prop:file map ;
dontaudit hal_camera_default exported2_system_prop:file open ;
dontaudit hal_camera_default exported2_system_prop:file getattr ;
dontaudit hal_camera_default exported2_system_prop:file map ;
dontaudit hal_camera_default exported2_vold_prop:file open ;
dontaudit hal_camera_default exported2_vold_prop:file getattr ;
dontaudit hal_camera_default exported2_vold_prop:file map ;
dontaudit hal_camera_default exported3_default_prop:file open ;
dontaudit hal_camera_default exported3_default_prop:file getattr ;
dontaudit hal_camera_default fingerprint_prop:file map ;
dontaudit hal_camera_default exported3_radio_prop:file open ;
dontaudit hal_camera_default exported3_radio_prop:file getattr ;
dontaudit hal_camera_default exported3_radio_prop:file map ;
dontaudit hal_camera_default exported3_system_prop:file open ;
dontaudit hal_camera_default exported3_system_prop:file getattr ;
dontaudit hal_camera_default exported3_system_prop:file map ;
dontaudit hal_camera_default exported_audio_prop:file open ;
dontaudit hal_camera_default exported_audio_prop:file getattr ;
dontaudit hal_camera_default exported_audio_prop:file map ;
dontaudit hal_camera_default exported_bluetooth_prop:file open ;
dontaudit hal_camera_default exported_bluetooth_prop:file getattr ;
dontaudit hal_camera_default exported_bluetooth_prop:file map ;
dontaudit hal_camera_default exported_camera_prop:file open ;
dontaudit hal_camera_default exported_camera_prop:file getattr ;
dontaudit hal_camera_default exported_camera_prop:file map ;
dontaudit hal_camera_default exported_dalvik_prop:file open ;
dontaudit hal_camera_default exported_dalvik_prop:file getattr ;
dontaudit hal_camera_default exported_dalvik_prop:file map ;
dontaudit hal_camera_default exported_ffs_prop:file open ;
dontaudit hal_camera_default exported_ffs_prop:file getattr ;
dontaudit hal_camera_default exported_ffs_prop:file map ;
dontaudit hal_camera_default exported_overlay_prop:file open ;
dontaudit hal_camera_default exported_overlay_prop:file getattr ;
dontaudit hal_camera_default exported_overlay_prop:file map ;
dontaudit hal_camera_default exported_pm_prop:file open ;
dontaudit hal_camera_default exported_pm_prop:file getattr ;
dontaudit hal_camera_default exported_pm_prop:file map ;
dontaudit hal_camera_default exported_system_radio_prop:file open ;
dontaudit hal_camera_default exported_system_radio_prop:file getattr ;
dontaudit hal_camera_default exported_system_radio_prop:file map ;
dontaudit hal_camera_default exported_wifi_prop:file open ;
dontaudit hal_camera_default exported_wifi_prop:file getattr ;
dontaudit hal_camera_default exported_wifi_prop:file map ;
dontaudit hal_camera_default fastbootd_protocol_prop:file open ;
dontaudit hal_camera_default fastbootd_protocol_prop:file getattr ;
dontaudit hal_camera_default fastbootd_protocol_prop:file map ;
dontaudit hal_camera_default ffs_prop:file open ;
dontaudit hal_camera_default ffs_prop:file getattr ;
dontaudit hal_camera_default ffs_prop:file map ;
dontaudit hal_camera_default default_prop:file map ;
dontaudit hal_camera_default fingerprint_prop:file getattr ;
dontaudit hal_camera_default exported3_default_prop:file map ;
