# b/170189719
dontaudit shell bluetooth_audio_hal_prop:file map ;
dontaudit shell apexd_prop:file open ;
dontaudit shell apexd_prop:file getattr ;
dontaudit shell apexd_prop:file map ;
dontaudit shell apk_verity_prop:file open ;
dontaudit shell apk_verity_prop:file getattr ;
dontaudit shell apk_verity_prop:file map ;
dontaudit shell bluetooth_a2dp_offload_prop:file open ;
dontaudit shell bluetooth_a2dp_offload_prop:file getattr ;
dontaudit shell bluetooth_a2dp_offload_prop:file map ;
dontaudit shell bluetooth_audio_hal_prop:file open ;
dontaudit shell bluetooth_audio_hal_prop:file getattr ;
dontaudit shell adbd_prop:file map ;
dontaudit shell bluetooth_prop:file open ;
dontaudit shell bluetooth_prop:file getattr ;
dontaudit shell bluetooth_prop:file map ;
dontaudit shell boottime_prop:file open ;
dontaudit shell boottime_prop:file getattr ;
dontaudit shell boottime_prop:file map ;
dontaudit shell boottime_public_prop:file open ;
dontaudit shell boottime_public_prop:file getattr ;
dontaudit shell boottime_public_prop:file map ;
dontaudit shell bpf_progs_loaded_prop:file open ;
dontaudit shell bpf_progs_loaded_prop:file getattr ;
dontaudit shell bpf_progs_loaded_prop:file map ;
dontaudit shell charger_prop:file open ;
dontaudit shell charger_prop:file getattr ;
dontaudit shell charger_prop:file map ;
dontaudit shell cold_boot_done_prop:file open ;
dontaudit shell cold_boot_done_prop:file getattr ;
dontaudit shell cold_boot_done_prop:file map ;
dontaudit shell cpu_variant_prop:file open ;
dontaudit shell cpu_variant_prop:file getattr ;
dontaudit shell cpu_variant_prop:file map ;
dontaudit shell ctl_adbd_prop:file open ;
dontaudit shell ctl_adbd_prop:file getattr ;
dontaudit shell ctl_adbd_prop:file map ;
dontaudit shell ctl_apexd_prop:file open ;
dontaudit shell ctl_apexd_prop:file getattr ;
dontaudit shell ctl_apexd_prop:file map ;
dontaudit shell ctl_bootanim_prop:file open ;
dontaudit shell ctl_bootanim_prop:file getattr ;
dontaudit shell ctl_bootanim_prop:file map ;
dontaudit shell ctl_console_prop:file open ;
dontaudit shell ctl_console_prop:file getattr ;
dontaudit shell ctl_console_prop:file map ;
dontaudit shell ctl_default_prop:file open ;
dontaudit shell ctl_default_prop:file getattr ;
dontaudit shell ctl_default_prop:file map ;
dontaudit shell ctl_fuse_prop:file open ;
dontaudit shell ctl_fuse_prop:file getattr ;
dontaudit shell ctl_fuse_prop:file map ;
dontaudit shell ctl_interface_restart_prop:file open ;
dontaudit shell ctl_interface_restart_prop:file getattr ;
dontaudit shell ctl_interface_restart_prop:file map ;
dontaudit shell ctl_interface_start_prop:file open ;
dontaudit shell ctl_interface_start_prop:file getattr ;
dontaudit shell ctl_interface_start_prop:file map ;
dontaudit shell ctl_interface_stop_prop:file open ;
dontaudit shell ctl_interface_stop_prop:file getattr ;
dontaudit shell ctl_interface_stop_prop:file map ;
dontaudit shell ctl_mdnsd_prop:file open ;
dontaudit shell ctl_mdnsd_prop:file getattr ;
dontaudit shell ctl_mdnsd_prop:file map ;
dontaudit shell ctl_restart_prop:file open ;
dontaudit shell ctl_restart_prop:file getattr ;
dontaudit shell ctl_restart_prop:file map ;
dontaudit shell ctl_rildaemon_prop:file open ;
dontaudit shell ctl_rildaemon_prop:file getattr ;
dontaudit shell ctl_rildaemon_prop:file map ;
dontaudit shell ctl_sigstop_prop:file open ;
dontaudit shell ctl_sigstop_prop:file getattr ;
dontaudit shell ctl_sigstop_prop:file map ;
dontaudit shell ctl_start_prop:file open ;
dontaudit shell ctl_start_prop:file getattr ;
dontaudit shell ctl_start_prop:file map ;
dontaudit shell ctl_stop_prop:file open ;
dontaudit shell ctl_stop_prop:file getattr ;
dontaudit shell ctl_stop_prop:file map ;
dontaudit shell device_config_activity_manager_native_boot_prop:file open ;
dontaudit shell device_config_activity_manager_native_boot_prop:file getattr ;
dontaudit shell device_config_activity_manager_native_boot_prop:file map ;
dontaudit shell device_config_boot_count_prop:file open ;
dontaudit shell device_config_boot_count_prop:file getattr ;
dontaudit shell device_config_boot_count_prop:file map ;
dontaudit shell device_config_configuration_prop:file open ;
dontaudit shell device_config_configuration_prop:file getattr ;
dontaudit shell device_config_configuration_prop:file map ;
dontaudit shell device_config_input_native_boot_prop:file open ;
dontaudit shell device_config_input_native_boot_prop:file getattr ;
dontaudit shell device_config_input_native_boot_prop:file map ;
dontaudit shell device_config_media_native_prop:file open ;
dontaudit shell device_config_media_native_prop:file getattr ;
dontaudit shell device_config_media_native_prop:file map ;
dontaudit shell device_config_netd_native_prop:file open ;
dontaudit shell device_config_netd_native_prop:file getattr ;
dontaudit shell device_config_netd_native_prop:file map ;
dontaudit shell device_config_reset_performed_prop:file open ;
dontaudit shell device_config_reset_performed_prop:file getattr ;
dontaudit shell device_config_reset_performed_prop:file map ;
dontaudit shell device_config_runtime_native_boot_prop:file open ;
dontaudit shell device_config_runtime_native_boot_prop:file getattr ;
dontaudit shell device_config_runtime_native_boot_prop:file map ;
dontaudit shell device_config_runtime_native_prop:file open ;
dontaudit shell device_config_runtime_native_prop:file getattr ;
dontaudit shell device_config_runtime_native_prop:file map ;
dontaudit shell device_config_storage_native_boot_prop:file open ;
dontaudit shell device_config_storage_native_boot_prop:file getattr ;
dontaudit shell device_config_storage_native_boot_prop:file map ;
dontaudit shell device_config_sys_traced_prop:file open ;
dontaudit shell device_config_sys_traced_prop:file getattr ;
dontaudit shell device_config_sys_traced_prop:file map ;
dontaudit shell device_config_window_manager_native_boot_prop:file open ;
dontaudit shell device_config_window_manager_native_boot_prop:file getattr ;
dontaudit shell device_config_window_manager_native_boot_prop:file map ;
dontaudit shell dumpstate_options_prop:file open ;
dontaudit shell dumpstate_options_prop:file getattr ;
dontaudit shell dumpstate_options_prop:file map ;
dontaudit shell exported_audio_prop:file open ;
dontaudit shell exported_audio_prop:file getattr ;
dontaudit shell exported_audio_prop:file map ;
dontaudit shell exported_bluetooth_prop:file open ;
dontaudit shell exported_bluetooth_prop:file getattr ;
dontaudit shell exported_bluetooth_prop:file map ;
dontaudit shell exported_overlay_prop:file open ;
dontaudit shell exported_overlay_prop:file getattr ;
dontaudit shell exported_overlay_prop:file map ;
dontaudit shell exported_wifi_prop:file open ;
dontaudit shell exported_wifi_prop:file getattr ;
dontaudit shell exported_wifi_prop:file map ;
dontaudit shell fastbootd_protocol_prop:file open ;
dontaudit shell fastbootd_protocol_prop:file getattr ;
dontaudit shell fastbootd_protocol_prop:file map ;
dontaudit shell firstboot_prop:file open ;
dontaudit shell firstboot_prop:file getattr ;
dontaudit shell firstboot_prop:file map ;
dontaudit shell gsid_prop:file open ;
dontaudit shell gsid_prop:file getattr ;
dontaudit shell gsid_prop:file map ;
dontaudit shell incremental_prop:file open ;
dontaudit shell incremental_prop:file getattr ;
dontaudit shell incremental_prop:file map ;
dontaudit shell init_svc_debug_prop:file open ;
dontaudit shell init_svc_debug_prop:file getattr ;
dontaudit shell init_svc_debug_prop:file map ;
dontaudit shell llkd_prop:file open ;
dontaudit shell llkd_prop:file getattr ;
dontaudit shell llkd_prop:file map ;
dontaudit shell lmkd_prop:file open ;
dontaudit shell lmkd_prop:file getattr ;
dontaudit shell lmkd_prop:file map ;
dontaudit shell lowpan_prop:file open ;
dontaudit shell lowpan_prop:file getattr ;
dontaudit shell lowpan_prop:file map ;
dontaudit shell mmc_prop:file open ;
dontaudit shell mmc_prop:file getattr ;
dontaudit shell mmc_prop:file map ;
dontaudit shell net_dns_prop:file open ;
dontaudit shell net_dns_prop:file getattr ;
dontaudit shell net_dns_prop:file map ;
dontaudit shell netd_stable_secret_prop:file open ;
dontaudit shell netd_stable_secret_prop:file getattr ;
dontaudit shell netd_stable_secret_prop:file map ;
dontaudit shell overlay_prop:file open ;
dontaudit shell overlay_prop:file getattr ;
dontaudit shell overlay_prop:file map ;
dontaudit shell persistent_properties_ready_prop:file open ;
dontaudit shell persistent_properties_ready_prop:file getattr ;
dontaudit shell persistent_properties_ready_prop:file map ;
dontaudit shell rebootescrow_hal_prop:file open ;
dontaudit shell rebootescrow_hal_prop:file getattr ;
dontaudit shell rebootescrow_hal_prop:file map ;
dontaudit shell safemode_prop:file open ;
dontaudit shell safemode_prop:file getattr ;
dontaudit shell safemode_prop:file map ;
dontaudit shell sota_prop:file open ;
dontaudit shell sota_prop:file getattr ;
dontaudit shell sota_prop:file map ;
dontaudit shell storage_config_prop:file open ;
dontaudit shell storage_config_prop:file getattr ;
dontaudit shell storage_config_prop:file map ;
dontaudit shell surfaceflinger_display_prop:file open ;
dontaudit shell surfaceflinger_display_prop:file getattr ;
dontaudit shell surfaceflinger_display_prop:file map ;
dontaudit shell system_adbd_prop:file open ;
dontaudit shell system_adbd_prop:file getattr ;
dontaudit shell system_adbd_prop:file map ;
dontaudit shell system_jvmti_agent_prop:file open ;
dontaudit shell system_jvmti_agent_prop:file getattr ;
dontaudit shell system_jvmti_agent_prop:file map ;
dontaudit shell system_lmk_prop:file open ;
dontaudit shell system_lmk_prop:file getattr ;
dontaudit shell system_lmk_prop:file map ;
dontaudit shell system_trace_prop:file open ;
dontaudit shell system_trace_prop:file getattr ;
dontaudit shell system_trace_prop:file map ;
dontaudit shell test_boot_reason_prop:file open ;
dontaudit shell test_boot_reason_prop:file getattr ;
dontaudit shell test_boot_reason_prop:file map ;
dontaudit shell theme_prop:file open ;
dontaudit shell theme_prop:file getattr ;
dontaudit shell theme_prop:file map ;
dontaudit shell time_prop:file open ;
dontaudit shell time_prop:file getattr ;
dontaudit shell time_prop:file map ;
dontaudit shell traced_lazy_prop:file open ;
dontaudit shell traced_lazy_prop:file getattr ;
dontaudit shell traced_lazy_prop:file map ;
dontaudit shell vehicle_hal_prop:file open ;
dontaudit shell vehicle_hal_prop:file getattr ;
dontaudit shell vehicle_hal_prop:file map ;
dontaudit shell vendor_adsp_version_prop:file open ;
dontaudit shell vendor_adsp_version_prop:file getattr ;
dontaudit shell vendor_adsp_version_prop:file map ;
dontaudit shell vendor_audio_prop:file open ;
dontaudit shell vendor_audio_prop:file getattr ;
dontaudit shell adbd_prop:file getattr ;
dontaudit shell vendor_battery_defender_prop:file open ;
dontaudit shell vendor_battery_defender_prop:file getattr ;
dontaudit shell vendor_battery_defender_prop:file map ;
dontaudit shell vendor_bluetooth_prop:file open ;
dontaudit shell vendor_bluetooth_prop:file getattr ;
dontaudit shell vendor_bluetooth_prop:file map ;
dontaudit shell vendor_build_type_prop:file open ;
dontaudit shell vendor_build_type_prop:file getattr ;
dontaudit shell vendor_build_type_prop:file map ;
dontaudit shell vendor_camera_prop:file open ;
dontaudit shell vendor_camera_prop:file getattr ;
dontaudit shell vendor_camera_prop:file map ;
dontaudit shell vendor_camera_ro_prop:file open ;
dontaudit shell vendor_camera_ro_prop:file getattr ;
dontaudit shell vendor_camera_ro_prop:file map ;
dontaudit shell vendor_cnd_prop:file open ;
dontaudit shell vendor_cnd_prop:file getattr ;
dontaudit shell vendor_cnd_prop:file map ;
dontaudit shell vendor_cnss_diag_prop:file open ;
dontaudit shell vendor_cnss_diag_prop:file getattr ;
dontaudit shell vendor_cnss_diag_prop:file map ;
dontaudit shell vendor_default_prop:file open ;
dontaudit shell vendor_default_prop:file getattr ;
dontaudit shell vendor_default_prop:file map ;
dontaudit shell vendor_device_prop:file open ;
dontaudit shell vendor_device_prop:file getattr ;
dontaudit shell vendor_device_prop:file map ;
dontaudit shell vendor_ecoservice_prop:file open ;
dontaudit shell vendor_ecoservice_prop:file getattr ;
dontaudit shell vendor_ecoservice_prop:file map ;
dontaudit shell vendor_logging_prop:file open ;
dontaudit shell vendor_logging_prop:file getattr ;
dontaudit shell vendor_logging_prop:file map ;
dontaudit shell vendor_modem_diag_prop:file open ;
dontaudit shell vendor_modem_diag_prop:file getattr ;
dontaudit shell vendor_modem_diag_prop:file map ;
dontaudit shell vendor_modem_prop:file open ;
dontaudit shell vendor_modem_prop:file getattr ;
dontaudit shell vendor_modem_prop:file map ;
dontaudit shell vendor_per_mgr_state_prop:file open ;
dontaudit shell vendor_per_mgr_state_prop:file getattr ;
dontaudit shell vendor_per_mgr_state_prop:file map ;
dontaudit shell vendor_power_prop:file open ;
dontaudit shell vendor_power_prop:file getattr ;
dontaudit shell vendor_power_prop:file map ;
dontaudit shell vendor_qcom_ims_prop:file open ;
dontaudit shell vendor_qcom_ims_prop:file getattr ;
dontaudit shell vendor_qcom_ims_prop:file map ;
dontaudit shell vendor_radio_prop:file open ;
dontaudit shell vendor_radio_prop:file getattr ;
dontaudit shell vendor_radio_prop:file map ;
dontaudit shell vendor_ramdump_prop:file open ;
dontaudit shell vendor_ramdump_prop:file getattr ;
dontaudit shell vendor_ramdump_prop:file map ;
dontaudit shell vendor_ramoops_prop:file open ;
dontaudit shell vendor_ramoops_prop:file getattr ;
dontaudit shell vendor_ramoops_prop:file map ;
dontaudit shell vendor_secure_element_prop:file open ;
dontaudit shell vendor_secure_element_prop:file getattr ;
dontaudit shell vendor_secure_element_prop:file map ;
dontaudit shell vendor_sensor_prop:file open ;
dontaudit shell vendor_sensor_prop:file getattr ;
dontaudit shell vendor_sensor_prop:file map ;
dontaudit shell adbd_prop:file open ;
dontaudit shell vendor_audio_prop:file map ;
